body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
    box-sizing: border-box;
}

.game-board {
    display: none;
    margin: 0 auto;
    align-items: center;
    width: 70%;
}

.player-mark {
    font-size: 50;
    font-weight: bolder;
    margin: 0 auto;
}

.board {
    width: 430px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 0 auto;
    align-items: center;
}

.col {
    width: 130px;
    height: 130px;
    background: #ddd;
    font-size: 90px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    cursor: pointer;
}

.selected,
.result {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 20px 0px;
    display: none;
}


h1 {
    text-align: center;
    background: #ddd;
    align-items: center;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 0.5rem;
    font-size: 70px;
    font-weight: bold;
    width: 70%;
    font-family: 'Sedgwick Ave Display', cursive;
    margin: 0 auto;
}

.user-info {
    text-align: center;
    background: #ddd;
    align-items: center;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 2.5rem;
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
}

.btn {
    background: #333;
    color: #fff;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    border: 0;
    font-size: 25px;
    margin: 30px 20px;
}

.btn:hover {
    background: #ddd;
    color: #333;
    font-weight: bold;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.player1,
.player2 {
    width: 40%;
    text-align: center;
    font-weight: bold;
}

.mark {
    background: #ddd;
    font-size: 20px;
    font-weight: bolder;
    width: 50%;
    text-align: left;
}


/* :root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
} */